.bookTable {
  width: 60%;
  background-color: white;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.065);
  border-radius: 5px;
  margin: 150px auto;
  padding: 50px;
  z-index: 100;
}

.addButton {
  text-decoration: none;
  background-color:   rgb(59, 137, 206);
  color: white;
  font-weight: 500;
  width: 93%;
  text-align: center;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.065);
  border-radius: 5px;
  padding: 30px;
}

.bookTable table {
  width: 100%;
  margin-top: 30px;
  border-collapse: collapse;
}

.bookTable table thead th {
  background-color: darkblue;
  color: white;
  padding: 10px;
}

.bookTable table tbody td {
  padding: 10px;
  text-align: center;
}

.actionButtons .btn-1 {
  border: 0;
  outline: none;
  background: red;
  padding: 8px 10px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.actionButtons .btn-2 {
  margin-left: 10px;
  border: 0;
  outline: none;
  background: rgb(2, 238, 2);
  padding: 8px 10px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("https://mc.webpcache.epapr.in/discover.php?in=https://mcmscache.epapr.in/post_images/website_350/post_32484271/full.gif");
    background-size: cover;
}

:root {
  --clr-neon: hsl(317 100% 54%);
}

.neon-button {
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  color: var(--clr-neon);
  border: var(--clr-neon) 0.125em solid;
  padding: 0.25em 1em;
  border-radius: 0.25em;

  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;

  box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);

  position: relative;
}

.neon-button::before {
  pointer-events: none;
  content: "";
  position: absolute;
  background: var(--clr-neon);
  /* top: 120%; */
  left: 0;
  width: 100%;
  height: 100%;

  /* transform: perspective(1em) rotateX(40deg) scale(1, 0.35); */
  filter: blur(1em);
  opacity: 0.7;
}

.neon-button::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 2em 0.5em var(--clr-neon);
  opacity: 0;
  background-color: var(--clr-neon);
  z-index: -1;
  transition: opacity 100ms linear;
}

.neon-button:hover,
.neon-button:focus {
  color: var(--clr-bg);
  text-shadow: none;
}

.neon-button:hover::before,
.neon-button:focus::before {
  opacity: 1;
}
.neon-button:hover::after,
.neon-button:focus::after {
  opacity: 1;
}

